<main class="container">
  <section class="columns">
    <div class="column col-10 col-mx-auto">
      <h1>Add New Promise</h1>
    </div>
  </section>
  <section class="columns">
    <%= render partial: 'form' %>
  </section>
</main>
